---
- name: Install nginx
  apt:
    name: nginx-extras
    state: latest
    default_release: jessie-backports
    update_cache: yes

- name: Generate nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644
  notify: Restart Nginx
