---
- name: Install nginx
  apt:
    name: nginx-extras
    state: present
    default_release: jessie-backports
    force: yes

- name: Generate nginx config
  template:
    src: "{{ item.src }}"
    dest: "/etc/nginx/{{ item.dest }}"
    mode: 0644
  with_items:
  - { src: "nginx.conf.j2", dest: "nginx.conf" }
  - { src: "ssl_params.j2", dest: "ssl_params" }
  notify: Restart Nginx

- name: Add virtual host config
  template:
    src: "{{ item.src }}"
    dest: "/etc/nginx/sites-available/{{ item.dest }}"
    mode: 0644
  with_items:
  - { src: "planet.j2", dest: "planet" }
  - { src: "sync.j2", dest: "sync" }
  - { src: "paste.j2", dest: "paste" }
  - { src: "git.j2", dest: "git" }
  - { src: "ci.j2", dest: "ci" }
  - { src: "dl.j2", dest: "dl" }
  - { src: "status.j2", dest: "status" }
  - { src: "default.j2", dest: "default" }
  notify: Restart Nginx

- name: Enable virtual host
  file:
    src: "/etc/nginx/sites-available/{{ item.src }}"
    dest: "/etc/nginx/sites-enabled/{{ item.dest }}"
    state: link
  with_items:
  - { src: "planet", dest: "planet" }
  - { src: "sync", dest: "sync" }
  - { src: "paste", dest: "paste" }
  - { src: "git", dest: "git" }
  - { src: "ci", dest: "ci" }
  - { src: "dl", dest: "dl" }
  - { src: "status", dest: "status" }
  - { src: "default", dest: "default" }
