[defaults]
inventory = inventory
library = library
roles_path = roles
remote_user = root
timeout = 100
forks = 25
gathering = smart
host_key_checking = False
retry_files_enabled = False
callback_whitelist = profile_tasks

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
