# Defaults for git-daemon initscript
# sourced by /etc/init.d/git-daemon
# installed at /etc/default/git-daemon by the maintainer scripts

#
# This is a POSIX shell fragment
#

GIT_DAEMON_ENABLE=true
GIT_DAEMON_USER=git
GIT_DAEMON_BASE_PATH=/var/www/git/repo
GIT_DAEMON_DIRECTORY=/var/www/git/repo

# Additional options that are passed to the Daemon.
GIT_DAEMON_OPTIONS=""
