{
    "server":"{{ ansible_default_ipv4.address }}",
    "server_port":{{ shadowsocks.server_port }},
    "local_port":{{ shadowsocks.local_port }},
    "password":"{{ shadowsocks_password.stdout }}",
    "timeout":{{ shadowsocks.timeout }},
    "method":"{{ shadowsocks.encryption_method }}",
    "fast_open":{{ shadowsocks.tcp_fast_open }}
}
