server {
    listen  80;
    server_name {{ nginx.dash_domain_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ nginx.dash_domain_name }};

    ssl_certificate /etc/letsencrypt/live/{{ nginx.dash_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx.dash_domain_name }}/privkey.pem;
    include /etc/nginx/ssl_params;

    access_log /var/log/nginx/dash_access.log;
    error_log /var/log/nginx/dash_error.log info;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://127.0.0.1:3000;
    }

}
