server {
    listen  80;
    server_name {{ nginx.dl_domain_name }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ nginx.dl_domain_name }};

    ssl_certificate /etc/letsencrypt/live/{{ nginx.dl_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx.dl_domain_name }}/privkey.pem;
    include /etc/nginx/ssl_params;

    root /var/www/debian;
    index index.html index.htm index.php;

    access_log /var/log/nginx/dl_access.log;
    error_log /var/log/nginx/dl_error.log info;

    location / {
        autoindex on;
        autoindex_localtime on;
    }

    location /mini-dinstall {
        allow 127.0.0.1;
        deny all;
    }

}
