server {
    listen  80;
    server_name www.{{ config.lintoy }};
    return 301 https://{{ config.lintoy }}$request_uri;
}

server {
    listen 443 ssl http2;
    server_name www.{{ config.lintoy }};
    return 301 https://{{ config.lintoy }}$request_uri;
}

server {
    listen 80;
    server_name {{ config.lintoy }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ config.lintoy }};

    ssl_certificate /etc/letsencrypt/live/{{ config.lintoy }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ config.lintoy }}/privkey.pem;
    include /etc/nginx/ssl_params;

    root /var/www/{{ config.lintoy }};
    index index.html index.htm index.php;

    access_log /var/log/nginx/{{ config.lintoy }}_access.log;
    error_log /var/log/nginx/{{ config.lintoy }}_error.log info;

}
