server {
    listen  80;
    server_name {{ config.paste }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ config.paste }};

    ssl_certificate /etc/letsencrypt/live/{{ config.paste }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ config.paste }}/privkey.pem;
    include /etc/nginx/ssl_params;

    root /var/www/stikked/htdocs;
    index index.html index.htm index.php;

    access_log /var/log/nginx/stikked_access.log;
    error_log /var/log/nginx/stikked_error.log info;

    # no caching
    expires 0;

    if ($request_uri !~* ^/(static|favicon\.ico|robots\.txt))
    {
        rewrite ^/(.*)$ /index.php?/$1 last;
        break;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        include /etc/nginx/fastcgi_params;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

}
