settings {
    logfile = "/var/log/lsyncd.log",
    statusFile = "/var/log/lsyncd-status.log",
    statusInterval = 20
}

sync {
    default.rsyncssh,
    source = "/var/lib/jenkins/workspace/pelican-linuxtoy/output",
    host = "{{ lsyncd.toysite }}",
    targetdir = "/home/www/toy_source/output",
    delete = "running",
    exclude = { ".tmp" },
    rsync  =  {
        compress  =  false
    }
}

sync {
    default.rsyncssh,
    source = "/var/www/html",
    host = "{{ lsyncd.koanssite }}",
    targetdir = "/var/www/html",
    delete = "running",
    exclude = { ".tmp" },
    rsync  =  {
        compress  =  false
    }
}
