settings {
    logfile = "/var/log/lsyncd.log",
    statusFile = "/var/log/lsyncd-status.log",
    statusInterval = 20
}

{% for conf in configs %}
sync {
    default.rsyncssh,
    host = "{{ conf.host }}",
    source = "{{ conf.source }}",
    targetdir = "{{ conf.target }}",
    delete = "running",
    exclude = { ".tmp" },
    rsync  =  {
        compress  =  false
    }
}

{% endfor %}
